<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseConsoleEx.Properties.Settings.lotteryConnectionString"
            connectionString="Data Source =&quot;|DataDirectory|\lottery.sdf&quot;; Password =&quot;lotto&quot;;"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>